* {
    box-sizing: border-box;
  }
  
  body {
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }
  
  header {
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0 auto;
  }
  
  header .upper-nav {
    width: 100%;
    height: 40px;
    background-color: black;
  }
  
  header .lower-nav {
    width: 100%;
    height: 80px;
    background-color: #d9d9d9;
  }
  
  header .display-bar {
    width: 100%;
    height: 40px;
    background-color: yellow;
  }
  
  .grid-rows::after {
    content: "";
    clear: both;
    /* display: table; */
    display: grid;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* this is for mobile phones  */
  
  [class*="col-"] {
    width: 100%;
  }
  
  /* this is for tablets */
  
  @media only screen and (min-width: 600px) {
    .col-tab-1 {
      width: 8.33%;
    }
  
    .col-tab-2 {
      width: 16.66%;
    }
  
    .col-tab-3 {
      width: 25%;
    }
  
    .col-tab-4 {
      width: 33.33%;
    }
  
    .col-tab-5 {
      width: 41.66%;
    }
  
    .col-tab-6 {
      width: 50%;
    }
  
    .col-tab-7 {
      width: 58.33%;
    }
  
    .col-tab-8 {
      width: 66.66%;
    }
  
    .col-tab-9 {
      width: 75%;
    }
  
    .col-tab-10 {
      width: 83.33%;
    }
  
    .col-tab-11 {
      width: 91.66%;
    }
  
    .col-tab-12 {
      width: 100%;
    }
  }
  
  /* this is for desktop view  */
  @media only screen and (min-width: 768px) {
    .col-desk-1 {
      width: 8.33%;
    }
  
    .col-desk-2 {
      width: 16.66%;
    }
  
    .col-desk-3 {
      width: 25%;
    }
  
    .col-desk-4 {
      width: 33.33%;
    }
  
    .col-desk-5 {
      width: 41.66%;
    }
  
    .col-desk-6 {
      width: 50%;
    }
  
    .col-desk-7 {
      width: 58.33%;
    }
  
    .col-desk-8 {
      width: 66.66%;
    }
  
    .col-desk-9 {
      width: 75%;
    }
  
    .col-desk-10 {
      width: 83.33%;
    }
  
    .col-desk-11 {
      width: 91.66%;
    }
  
    .col-desk-12 {
      width: 100%;
    }
  }
  /* just for mapping out the page */
  
  .hero-area {
    background-color: rgb(43, 226, 89);
    margin-bottom: 20px;
  }
  
  .hero-area .hero-area-items {
    background-color: darkkhaki;
    border: cornsilk 0.5px solid;
  }
  
  .right-sides {
    float: right;
  }
  
  .latest-news {
    background-color: rgb(105, 43, 92);
    margin-bottom: 20px;
  }
  
  .latest-news .latest-news-items {
    background-color: blueviolet;
    border: cornsilk 0.5px solid;
  }
  
  .latest-funding-rounds {
    background-color: darkslategrey;
    margin-bottom: 20px;
  }
  
  .latest-funding-rounds-items {
    background-color: forestgreen;
    border: cornsilk 0.5px solid;
  }
  
  .tech-news {
    background-color: fuchsia;
    margin-bottom: 20px;
  }
  
  .tech-news-items {
    background-color: rgb(17, 54, 17);
    border: cornsilk 0.5px solid;
  }
  
  .latest-deals {
    background-color: violet;
    margin-bottom: 20px;
  }
  
  .latest-deals-items {
    background-color: yellowgreen;
    border: cornsilk 0.5px solid;
  }
  
  footer {
    height: 20px;
    background-color: black;
    margin-bottom: 20px;
  }